

@font-face {
    font-family: "Nueva_fuente";
    src: url(Font/Monobrain.woff2) format('woff2');
}


html, body {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    height: 100%;
    font-family: "Nueva_fuente" ;
}


main {
    margin: 10%;
    margin-top: 1%;
    animation: cambioGradiente 5s infinite alternate;
}




.contenedor_contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    margin: 1%;
}

.contenedor_contacto img {
    max-width: 100%;
    height: auto;
    margin: 10px; /* Ajusta el espacio entre los elementos según sea necesario */
}

.cuadro_c {
    margin: 0 auto 25px; /* Establece margen superior e inferior a 25px y centra horizontalmente */
}

.contenedor_proyecto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.cuadro_a {
    border: 1px black solid;
    text-align: center;
    margin: 2%;
    min-width: 300px;
    min-height: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

.expandido {
    width: 100%;
    height: 600px;
    background-color: rgba(96, 96, 96, 0.15);
    backdrop-filter: blur(10px);
}

.cuadro_a:hover {
    background-color: rgba(96, 96, 96, 0.15);
}




.img_portafolio {
    height: 70%; /* Cambié el valor a 100% para ajustar la altura al 100% del contenedor */
    width: 70%;  /* Cambié el valor a 100% para ajustar el ancho al 100% del contenedor */
    padding: 1%;
    border: 1px solid;
    border-radius: 10px;
}






.titulo {
    text-align: center;
    border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    border-image-slice: 1;
    animation: cambioGradiente 5s infinite alternate;
}

.subtitulo {
    text-align: center;
}




nav {
    text-align: center;
}

.botones {
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 2%;
    min-height: 50px;
    min-width: 200px;
}

.botones:hover {
    background-color: #ffffffc7;
}




#contenedor {
    text-align: left;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    position: relative;
    border: 10px solid transparent;
    min-width: 200px;
    
}

#contenedor::before,
#contenedor::after {
    content: "";
    position: absolute;
    border: 10px solid;
    border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    border-image-slice: 1;
    animation: cambioGradiente 5s infinite alternate;
    
}

#contenedor::before {
    top: 0;
    left: 0;
    border-width: 0 0 10px 0;
}

#contenedor::after {
    border-width: 0 0 0 10px;
}

#contenedor::before,
#contenedor::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    border-image-slice: 1;
}

#contenedor::before {
    bottom: 0;
    left: 0;
    border-width: 10px 0px 0px 10px;
    border-radius: 10px;
}

#contenedor::after {
    bottom: 0;
    right: 0;
    border-width: 0px 10px 10px 0px;
}

.contenedor_logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    margin: 1%;
}


.contenedor_logos img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}




.ceparador {
    animation: aparecerDesdeAbajo 0.5s ease-in-out forwards;
}


.logos {
    height: 80px;
    width: 80px;
    padding-right: 20px;
}


#proyectos, #conctato, #Conocimientos {
    display: none;
}


.piePag {
    height: 10%;
    text-align: center;
    background: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    color: aliceblue;
    padding: 1%;
}


.oculto {
    display: none;
}




    @keyframes aparecerDesdeAbajo {
          from{

           transform:translateY(200%);

          }
   

    }



    @keyframes cambioGradiente {
        0%, 100% {
            border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
            border-image-slice: 1;
        }
    
        25%, 75% {
            border-image: linear-gradient(45deg, #237dbd, #00ff08, #232ecb);
            border-image-slice: 1;
        }
    
        50% {
            border-image: linear-gradient(45deg, #00ff08, #232ecb, #237dbd);
            border-image-slice: 1;
        }
    }


    
    .elemento-con-animacion {
        animation: cambioGradiente 2s ease infinite;
    }
    

