html, body {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 10%;
}






















.Animacion_Inicio_1 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    background-size: cover;
    animation: desvanecer 4s forwards;
}


.Animacion_Inicio_2 {
    display: block;
    position: fixed;
    top: 50%; /* Alinea el elemento hacia el centro verticalmente */
    left: 50%; /* Alinea el elemento hacia el centro horizontalmente */
    transform: translate(-50%, -50%); /* Corrige el desplazamiento en el centro */
    align-items: center;
    text-align: center;
    z-index: 9999;
    font-size: 5vw; 
}





.circuloConPunto1 {
    top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    /* Hacemos el borde transparente para que solo se vea el borde superior en el siguiente paso */
    border: 5px solid #237dbd;
    margin-top: -100px; /* Ajusta según sea necesario */
    animation: girar 1s linear infinite, desvanecerIzquierdaDerecha 4s forwards;
  
  }


.circuloConPunto2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    border: 5px solid transparent; /* Hacemos el borde transparente para que solo se vea el borde superior en el siguiente paso */
    border-top: 5px solid #00ff08;
    margin-top: -100px; /* Ajusta según sea necesario */
    animation: girar 1s linear infinite, desvanecerIzquierdaDerecha 4s forwards;
   
}














.titulo {
    text-align: center;
}

.subtitulo {
    text-align: center;
}






nav {
    text-align: center;
}

.botones {
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.botones:hover {
    background-color: #ffffffc7;
}






#contenedor {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
    position: relative;
    border: 10px solid transparent;
}

#contenedor::before,
#contenedor::after {
    content: "";
    position: absolute;
    border: 10px solid;
    border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    border-image-slice: 1;
    animation: cambioGradiente 5s infinite alternate;
}

#contenedor::before {
    top: 0;
    left: 0;
    border-width: 0 0 10px 0;
}

#contenedor::after {
    border-width: 0 0 0 10px;
}

#contenedor::before,
#contenedor::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    border-image-slice: 1;
}

#contenedor::before {
    bottom: 0;
    left: 0;
    border-width: 10px 0px 0px 10px;
    border-radius: 10px;
}

#contenedor::after {
    bottom: 0;
    right: 0;
    border-width: 0px 10px 10px 0px;
}

.contenedor_logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    margin: 1%;
}

/* Añade estilos adicionales según sea necesario */
.contenedor_logos img {
    max-width: 100%;
    height: auto;
    margin: 10px; /* Ajusta el espacio entre los elementos según sea necesario */
}




.ceparador {
    animation: aparecerDesdeDerecha 1s ease-in-out;
}

.logos {
    height: 80px;
    width: 80px;
    padding-right: 20px;
}

#proyectos, #conctato, #Conocimientos {
    display: none;
}

.piePag {
    text-align: center;
    background: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    color: aliceblue;
    padding: 1%;
}

.oculto {
    display: none;
}

/* Media query para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 768px) {
    main {
        margin: 5%;
    }

    #contenedor {
        margin: 5%;
        border-radius: 1vw;
    }

    .botones {
        margin-bottom: 5%;
    }

    }



    @keyframes desplazamientoDiagonal_Arriba {
        0% {
            transform: translate(0, 0);
          
        }
    
        50% {
            transform: translate(0%, 0%);
           
        }
    
        100% {
            transform: translate(100%, 100%);
             opacity: 0.5;
        }
    }




    
    @keyframes desplazamientoDiagonal_Abajo {
        0% {
            transform: translate(0%, 0%);
            
        }
    
        50% {
            transform: translate(0%, 0%);
           
        }
    
        100% {
            transform: translate(-100%, -100%);
             opacity: 0.5;
        }
    }


    @keyframes desvanecerIzquierdaDerecha {
        0% {
            opacity: 1;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
        }

        50%{
            opacity: 1;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0)
        }
    
        100% {
            opacity: 0;
            clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
        }
    }
      

    
    @keyframes desvanecer {
        0% {
            opacity: 1;
           
        }

        50%{
            opacity: 1;
           
        }
    
        100% {
            opacity: 0;
           
        }
    }
    
    @keyframes girar {
        0% {
            transform: rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }
   


    @keyframes aparecerDesdeDerecha {
          from{

           transform:translateY(200%);

          }
   

    }
