html, body {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 10%;
}

.Animacion_Inicio_1{
        display: block;
        position: fixed; /* Cambiado a fixed para que cubra toda la pantalla */
        top: 0;
        left: 0;
        width: 100%; /* Opcional: ajusta según sea necesario */
        height: 100%; /* Opcional: ajusta según sea necesario */
        background-color: #232ecb; /* Cambiado a un color sólido */
        animation: desplazamientoDiagonal_Arriba 5s forwards ;
}


.Animacion_Inicio_2{
    display: block;
    position: fixed; /* Cambiado a fixed para que cubra toda la pantalla */
    top:  0%;
    left: 0%;
    width: 100%; /* Opcional: ajusta según sea necesario */
    height: 100%; /* Opcional: ajusta según sea necesario */
    background-color: #232ecb; /* Cambiado a un color sólido */
    z-index: 9999;
    overflow: hidden;
    animation: desplazamientoDiagonal_Abajo 5s forwards ;
   
}

.Animacion_Inicio_3{
    display: block;
    position: fixed; /* Cambiado a fixed para que cubra toda la pantalla */
    top:  0%;
    left: 0%;
    width: 100%; /* Opcional: ajusta según sea necesario */
    height: 100%; /* Opcional: ajusta según sea necesario */
    z-index: 9999;
    overflow: hidden;
    text-align: center;
    align-items: center;
   
}



.titulo {
    text-align: center;
}

.subtitulo {
    text-align: center;
}

nav {
    text-align: center;
}

.botones {
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.botones:hover {
    background-color: #ffffffc7;
}

#contenedor {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
    position: relative;
    border: 10px solid transparent;
}

#contenedor::before,
#contenedor::after {
    content: "";
    position: absolute;
    border: 10px solid;
    border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    border-image-slice: 1;
    animation: cambioGradiente 5s infinite alternate;
}

#contenedor::before {
    top: 0;
    left: 0;
    border-width: 0 0 10px 0;
}

#contenedor::after {
    border-width: 0 0 0 10px;
}

#contenedor::before,
#contenedor::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    border-image-slice: 1;
}

#contenedor::before {
    bottom: 0;
    left: 0;
    border-width: 10px 0px 0px 10px;
    border-radius: 10px;
}

#contenedor::after {
    bottom: 0;
    right: 0;
    border-width: 0px 10px 10px 0px;
}

.contenedor_logos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 1%;
}

.ceparador {
    animation: aparecerDesdeDerecha 1s ease-in-out;
}

.logos {
    height: 80px;
    width: 80px;
    padding: 15px;
}

#proyectos, #conctato, #Conocimientos {
    display: none;
}

.piePag {
    text-align: center;
    background: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    color: aliceblue;
    padding: 1%;
}

/* Media query para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 768px) {
    main {
        margin: 5%;
    }

    #contenedor {
        margin: 5%;
        border-radius: 1vw;
    }

    .botones {
        margin-bottom: 5%;
    }
}
@keyframes desplazamientoDiagonal_Abajo {
    0% {
        transform: translate(0, 0);
    }
  
    50% {
        transform: translate(0%, 0%);
    }
   
    100% {
        transform: translate(100%, 100%);
    }
}

@keyframes desplazamientoDiagonal_Arriba {
    0% {
        transform: translate(0%, 0%);
    }
   
    50% {
        transform: translate(0%, 0%);
    }
   
    100% {
        transform: translate(-100%, -100%);
    }
}