html, body {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 10%;
}

.titulo {
    text-align: center;
}

.subtitulo {
    text-align: center;
}

nav {
    text-align: center;
}

.botones {
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.botones:hover {
    background-color: #ffffffc7;
}

#contenedor {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
    position: relative;
    border: 10px solid transparent;
}

#contenedor::before,
#contenedor::after {
    content: "";
    position: absolute;
    border: 10px solid;
    border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    border-image-slice: 1;
    animation: cambioGradiente 5s infinite alternate;
}

#contenedor::before {
    top: 0;
    left: 0;
    border-width: 0 0 10px 0;
}

#contenedor::after {
    border-width: 0 0 0 10px;
}

#contenedor::before,
#contenedor::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-image: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    border-image-slice: 1;
}

#contenedor::before {
    bottom: 0;
    left: 0;
    border-width: 10px 0px 0px 10px;
    border-radius: 10px;
}

#contenedor::after {
    bottom: 0;
    right: 0;
    border-width: 0px 10px 10px 0px;
}

.contenedor_logos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 1%;
}

.ceparador {
    animation: aparecerDesdeDerecha 1s ease-in-out;
}

.logos {
    height: 80px;
    width: 80px;
    padding: 15px;
}

#proyectos, #conctato, #Conocimientos {
    display: none;
}

.piePag {
    text-align: center;
    background: linear-gradient(45deg, #232ecb, #237dbd, #00ff08);
    color: aliceblue;
    padding: 1%;
}

/* Media query para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 768px) {
    main {
        margin: 5%;
    }

    #contenedor {
        margin: 5%;
        border-radius: 1vw;
    }

    .botones {
        margin-bottom: 5%;
    }
}